body, html{
height: 100%;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.76;
letter-spacing: 0.04em;

color: #131313;
}
[class*="__container"]{
    max-width: 1168px;
    margin: 0 auto; 
    outline: 1px solid red;
    padding-left: 16px;
    padding-right: 16px;
}

.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
header{
    margin-top: 8px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
   
    outline: 1px solid blue;
    }

.header__container {
     background-color:#84A178 ;
     display: flex;
     align-items: center;
}
.header__logo{
    margin-right: auto;
}
.main{
    flex: 1 1 auto;
}
.header__menu{
    display: flex;
    align-items: center;
  
    margin-right: 204px;

}
.menu__list{
    display: flex;
   
    min-width: 444px;
    
}
.menu__item:not(:last-child){
margin-right: 28px;
}
.menu__item{
    max-height: 20px;
    display: flex;
    color: #FCFCFC;
}
.menu__item:hover  .menu__link{
    color: #F8D24E;
    
    
}
.menu__link{
font-weight: 700;
font-size: 16px;
line-height: 1.25;
max-height: 20px;
display: flex;
color: #FCFCFC;

}
.header__btn{
    margin: 28px 0 28px 0;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    padding: 12px 36px;
    width: 152px;
    height: 42px;
    border-radius: 10px;
}
.btn:hover{
    background-color: #0A8817; 
  
}
.btn:focus{
 color: #FFFFFF; 
 fill:#FFFFFF;
}
.btn-yellow{
   background-color: #F8D24E;
   color: #000000;
}
.btn-icon{
    margin-left: 4px;
}
.product{
    position: relative;
    display:flex;
    overflow: hidden;

    height: 400px;;
    background-image: url(../img/Framedesk.jpg);
}
.product_bcg{
    position: absolute;
    top:0;
    left:-70px;
    top:-50px;
    width:1396px;
    margin: 0 auto; 
    outline: 1px solid blue;
}